# Enabled checks:
#
# - all the checks of the bugprone-* group except:
#   easily-swappable-parameters, implicit-widening-of-multiplication-result,
#   misplaced-widening-cast, narrowing-conversions
#
# - cppcoreguidelines-avoid-goto
#
Checks: '
    -*,
    bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
    clang-analyzer-*,
        -clang-analyzer-optin.mpi.MPI-Checker,
    clang-diagnostic-*,
    cppcoreguidelines-*,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-interfaces-global-init,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-no-malloc,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-*,
    google-build-explicit-make-pair,
    google-build-namespaces,
    google-global-names-in-headers,
    misc-*,
        -misc-const-correctness,
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
    modernize-*,
        -modernize-avoid-c-arrays,
        -modernize-macro-to-enum,
        -modernize-return-braced-init-list,
        -modernize-use-auto,
        -modernize-use-trailing-return-type,
    performance-*,
        -performance-enum-size,
        -performance-inefficient-string-concatenation,
    portability-*,
    mpi-*
    '

HeaderFilterRegex: 'src[a-z_A-Z0-9\/]+\.H$'
