Checks: '
    -*,
    bugprone-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-misplaced-widening-cast,
        -bugprone-narrowing-conversions,
    cppcoreguidelines-avoid-goto
    '

CheckOptions:
- key:          bugprone-unchecked-optional-access.IgnoreValueCalls
  value:        "true"

HeaderFilterRegex: 'src[a-z_A-Z0-9\/]+\.H$'
