# Copyright 2021 MaxThevenet, Severin Diederichs
#
# This file is part of HiPACE++.
#
# License: BSD-3-Clause-LBNL

sphinx_rtd_theme>=0.4.0
recommonmark
sphinx>=3.0
# docutils 0.17 breaks HTML tags & RTD theme
# https://github.com/sphinx-doc/sphinx/issues/9001
docutils<=0.16
pygments
breathe
